/* Gallery component layout */
body {
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.4;
    margin: 1em;
}
[hidden] {
    display: none;
}
.cpt-gallery-api {
    --gallery-theme-background: #000;
    --gallery-theme-foreground: #fff;
    --gallery-theme-accent: rgba(255, 0, 0, 0.6);
    --thumbnail-offset: clamp(5rem, 10rem, 10dvh);
    /* --thumbnail-offset: 10rem; */
    --aspect-ratio: 3/2;
    /* display: grid; */
    /* grid-template-areas: "viewer" "thumbnails"; */
    /* grid-template-rows: 1fr auto; */
    /* grid-template-columns: 1fr; */
    /* outline: 3px solid fuchsia; */
    /* width: 100%; */
    /* max-height: calc(100vh - var(--offset)); */
}
.cpt-gallery-api[data-aspect-ratio="2"] {
    --aspect-ratio: 2/1;
}
.cpt-gallery-api[data-aspect-ratio="3"] {
    --aspect-ratio: 3/1;
}
.cpt-gallery-api[data-aspect-ratio="1.78"] {
    --aspect-ratio: 16/9;
}
.cpt-gallery-api[data-aspect-ratio="1.5"] {
    --aspect-ratio: 3/2;
}
.cpt-gallery-api[data-aspect-ratio="1.33"] {
    --aspect-ratio: 4/3;
}

.cpt-gallery-api .gallery-viewer {
    /* grid-area: viewer; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    aspect-ratio: var(--aspect-ratio);
    max-height: calc(100dvh - (var(--thumbnail-offset) + 2em));
    /* outline: 5px solid cornflowerblue; */
}
.gallery-viewer > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.gallery-viewer > .figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    align-self: center;
    aspect-ratio: var(--aspect-ratio);
    height: 100%;
    width: auto;
    max-width: 100%;
    /* outline: 3px solid lime;
    max-height: calc(100dvh - (var(--thumbnail-offset) + 2em)); */
}
.gallery-viewer > .figure > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    /* outline: 1px solid red; */
}
.gallery-viewer .figure picture,
.gallery-viewer .figure picture img {
    width: auto;
    height: 100%;
    aspect-ratio: var(--aspect-ratio);
    object-fit: cover;
    /* max-height: calc(100dvh - (var(--thumbnail-offset) + 2em)); */
    justify-self: center;
}
.media-controller {
    align-self: self-end;
    z-index: 10;
    display: flex;
    align-items: flex-start;
}
.media-controller .more-menu[aria-expanded="true"] g.close {
    opacity: 1;
}
.media-controller .more-menu[aria-expanded="true"] g.more {
    opacity: 0;
}
.media-controller .more-menu[aria-expanded="false"] g.close {
    opacity: 0;
}
.media-controller .more-menu[aria-expanded="false"] g.more {
    opacity: 1;
}
.media-controller .more-menu[aria-expanded="true"] + .additional-controls {
    display: flex;
    align-items: flex-start;
}
.media-controller button,
.media-controller a {
    flex-basis: 2.5rem;
    aspect-ratio: 1;
    border: none;
    background: transparent;
    display: flex;
    flex-shrink: 0;
    padding: 0.25rem;
}
.media-controller svg {
    width: 100%;
    height: 100%;
}
.media-controller svg > circle {
    fill: var(--gallery-theme-background);
}
.media-controller svg .symbol path,
.media-controller svg g > * {
    fill: var(--gallery-theme-foreground);
}
.media-controller[data-state="playing"] button.media-play-pause .icon.i-media-play {
    display: none;
}
.media-controller[data-state="paused"] button.media-play-pause .icon.i-media-pause {
    display: none;
}
.cpt-gallery-api[data-fullscreen="true"] button.media-fullscreen .icon.i-media-open-fullscreen {
    display: none;
}
.cpt-gallery-api[data-fullscreen="false"] button.media-fullscreen .icon.i-media-close-fullscreen {
    display: none;
}
.gallery-viewer .progress {
    z-index: 8;
    align-self: self-end;
    width: 100%;
    position: relative;
    background-color: rgba(0 0 0 / 0.5);
}
.gallery-viewer .progress-bar {
    height: 0.5rem;
    width: 0%;
    background: var(--gallery-theme-foreground);
    opacity: 0.7;
}
[data-allow-captions="true"] .progress,
[data-allow-captions="true"] .media-controller {
    align-self: self-start;
}
[data-allow-captions="true"] .media-controller {
    justify-content: flex-end;
}
[data-allow-captions="true"] .media-controller .additional-controls .media-caption {
    display: flex;
}
[data-allow-captions="false"] .media-controller .additional-controls .media-caption {
    display: none;
}
.cpt-gallery-api:not([data-download-uri]) .media-controller .additional-controls .gallery-download,
[data-download-uri=""] .media-controller .additional-controls .gallery-download {
    display: none;
}
[data-allow-captions="true"] .caption {
    align-self: self-end;
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    white-space: wrap;
    z-index: auto;
}
[data-allow-captions="true"][data-show-captions="false"] .caption,
[data-allow-captions="false"] .caption,
[data-allow-captions="false"] .caption:empty,
[data-allow-captions="true"] .caption:empty {
    display: none;
}
button.media-caption[aria-expanded="true"] .media-expand-caption {
    opacity: 0;
}
button.media-caption[aria-expanded="false"] .media-collapse-caption {
    opacity: 0;
}
button.media-caption[disabled] {
    opacity: 0.5;
}
/* .gallery-viewer picture[data-view="background"] {
    z-index: 0;
}
.gallery-viewer picture[data-view="transition"] {
    z-index: 1;
}
.gallery-viewer figure[data-view="transition"] {
    z-index: 2;
} */
.gallery-thumbnails {
    /* grid-area: thumbnails; */
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    max-width: 100%;
    width: 100%;
}
.gallery-thumbnails button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    /* flex-basis: var(--thumbnail-offset); */
    aspect-ratio: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 10dvh;
}
.gallery-thumbnails button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button[aria-pressed="true"] {
    outline: 1em solid var(--gallery-theme-accent);
    outline-offset: -1em;
}
.cpt-gallery-api button:hover {
    cursor: pointer;
}
.cpt-content :is(h1, h2, p) {
    margin-bottom: 1lh;
    max-width: 60ch;
}
